.body {
  margin: 0;
  padding: 0;
}

.title {
  background-color: #fffefe;
  height: auto;
}

.title h1 {
  color: #ffa74e;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 48pt;
}

table {
  width: 50%;
}

.buttons {
  margin-left: 0;
  margin-right: 0;
  padding: 5px;
  padding-left: auto;
  padding-right: auto;
  background-color: #fffefe
}

.buttons .container {
  padding-left: 0;
  padding-right: 0;
  width: 252px;
  margin: 0 auto;
  background-color: #fffefe;
}
